body {
    margin:0;
    background-color: #e9e8e6;
    position: relative;
    background-image: url('sooncomev2.png');
    background-size: cover;
    height: 150px;
    width: 9000px;

    
}


html {
    
    
 


}







